body {
    margin: 0;
    background-color: antiquewhite;
    text-align: center;
    font-family: Comic Neue, monospace;
}
p{
  line-height: 2;
}
h1 {
    padding-top: 20px;
    margin: 30px auto 0 auto;
color: #7fff00;
font-size: 5.625em;
font-family: Sacramento, monospace;
line-height: 1.3
}
h1:hover {
color: gold;
font-size: 30px;
font-size: 5.625rem;
}
h3{
  font-size: 2rem;
  color: blue;
  font-weight: normal;
}
.topstar{
  padding-top: 10px;
  position: relative;
  top: auto;
  left: 150px;
  height: 3%;
  width: 3%;
}
.topbird{
  padding-top: 10px;
  position: absolute;
  top: auto;
  left: 270px;
  height: 10%;
  width: 10%;
}
.lowmout{
height: 50%;
width: 50%;

}
.htwo{
  color: purple;
}
.web{
  color: blue;
}
.sw{
margin-top: 30px;
}
#cil {
 width = 20px;
 height = 20px;
 float: left;
}
.pencil {

}
.bottom{
  width: 100%;
  height: 130px;
  background-color: #11999E;
}
